<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrinho - Senac Commerce</title>
  <link rel="stylesheet" href="../Assets/Css/index.css">
  <link rel="stylesheet" href="../Assets/Css/carrinho.css">
</head>
<body>

  <header>
    <div class="logo">Senac<span>Ecommerce</span></div>
    <button id="menuToggle" class="menu-toggle">&#9776;</button>
    <nav id="navMenu" class="nav-menu">
      <a href="../index.html">Home</a>
      <a href="produtos.html">Produtos</a>
      <a href="carrinho.html">Carrinho</a>
      <a href="usuario.html">Usuário</a>
      <a href="favoritos.html">Favoritos</a>
      <a href="login.html">Login</a>
    </nav>
  </header>
  <h1 class="titulo-finalizacao">Finalizar Compra</h1>
  <main class="carrinho-container">
   
    <div id="carrinho-itens" class="itens-container"></div>
    <section id="resumo-carrinho" class="resumo-pedido">
      <h3>Resumo do Pedido</h3>
      <div id="resumo-detalhes"></div>
      <button id="btn-finalizar" class="btn-primario">Finalizar Compra</button>
    </section>

    <!-- <h2 style="text-align: center; margin-top: -10px;">Revise seus produtos</h2> -->
  <section id="produtos-resumo" class="produtos-resumo"></section>
     
  </main>
  
  <script src="../Assets/js/carrinho.js"></script>
  <script>
    document.getElementById('btn-finalizar').addEventListener('click', function() {
      window.location.href = 'finalizar.html';
    });
  </script>

</body>
</html>
