/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    color: #000;
  }
  
  header {
    background-color: #003366;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: relative;
  }
  
  .logo {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
  }
  
  .logo span {
    color: #FF6600;
  }
  
  .nav-menu {
    display: flex;
    gap: 20px;
  }
  
  .nav-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .nav-menu a:hover {
    color: #FF6600;
  }
  
  /* Botão hamburguer (visível no mobile) */
  .menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }
  /* SubMenu Produtos */
  ul{
    list-style-type: none;
  }
  ul ul{
    display: none;
    position: absolute;
    /* width: 5%; */
    background-color: #003366;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
    z-index: 2;
    width: auto;
    border-radius: 0 0 5px 5px;
    padding-top: 15px;
}
ul ul li{
    display: flex;
    /* height: 50px; */
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    
    a{
      height: 15px;
      /* flex-wrap: nowrap; */
      text-wrap: nowrap;
      padding: 0 10px;
    }
}
ul li:hover ul{
    display: block;
}

  /* Estilos responsivos */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-menu {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #003366;
      flex-direction: column;
      align-items: center;
      display: none;
      padding: 10px 0;
    }
  
    .nav-menu.active {
      display: flex;
    }
  
    .nav-menu a {
      padding: 10px 0;
      width: 100%;
      text-align: center;
      border-top: 1px solid #ffffff33;
    }
  }
  
  main {
    padding: 20px;
    text-align: center;
  }

  main h1{
    margin-top: 15px;
    color: #003366;
  }

  .user-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
  }

  .user-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .user-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  