@import url("./style.css");
@import url("./barra_pesquisa.css");


.area_produtos{
    /* border: 1px solid red; */
    padding: 30px 10% 0 10%;
}

#area_cards{
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.card_prod{
    width: 250px;
    height: calc(400px);
    /* max-height: 700px; */
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    /* margin: 5px; */
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
    background-color: white;
    color: #003366;
    text-decoration: none;
    text-decoration-style: none;

    overflow: hidden;
}

#img_prod{
    display: flex;   
    flex-wrap: wrap;
    height: 40%;
}

.info_prod{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nome_prod{
    font-size: 1.05rem;
    max-height: 5em;
    white-space: wrap; 
    overflow: hidden;
}

#val_prod{
    font-size: 1.01em;
    font-weight: bold;

}