@import url(./barra_pesquisa.css);

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 70vh;
}

.area_produto {
  width: 95%;
  min-height: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 5%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;

  justify-self: flex-start;

  /* border: 1px dotted red; */
}

.info_prod {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  align-items: start;
  justify-content: space-between;

  #nome_prod {
    font-size: 1.5em;
    text-align: start;
  }

  #val_prod {
    font-size: 1.2em;
    font-weight: bold;
  }

  .descricao_produto {
    text-align: start;
    gap: 2px;
  }

  #desc_prod {
    padding: 10px;
    text-align: justify;
  }

  .area_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;

    /* margin-top: 20%; */
    justify-content: end;
    align-self: flex-end;
    /* border: 1px solid red; */
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(240, 130, 46);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ff5f00;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_conteudo {
  background-color: white;
  color: black;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 10px #000;
}

.modal_conteudo button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff7b00;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
