@import url("./style.css");
@import url("./barra_pesquisa.css");

.area_produto{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;

    /* border: 1px dotted red; */
}

#img_prod{
    float: inline-start;
    width: 30%;
    border-radius: 5px;
}

.info_prod{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    align-items: start;
    
    #nome_prod{
        font-size: 1.5em;
        text-align: start;
    }
    
    #val_prod{
        font-size: 1.2em;
        font-weight: bold;
    }

    .descricao_produto{
        text-align: start;
        gap: 2px;
    }

    #desc_prod{
        padding: 5px;
        text-align: justify;
    }
}

.area_buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;

    justify-content: end;
    /* border: 1px solid red; */
}